.userList {
  flex: 5;
  padding: 10px;
  height: calc(100vh - 160px);
}

.userTitle {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: #555;
}

.userListEdit {
  color: #189ab4;
  cursor: pointer;
}

.userListDelete {
  color: #d2042d;
  cursor: pointer;
}
