.topbar {
  width: 100%;
  height: 50px;
  background-color: #05445E;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: #D4F1F4;
  cursor: pointer;
}

.topRight{
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #D4F1F4;
}

.topIconBadge  {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: -2px;
  background-color: #D2042D;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topAvatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}