.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #189ab4;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: #d4f1f4;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  color: #d4f1f4;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: aliceblue;
  color: #189ab4;
}
.sidebarListItem.active a,
.sidebarListItem a:hover {
  color: #189ab4;
}

.sidebarListItem a {
  text-decoration: none;
  color: #d4f1f4;
  display: flex;
  align-items: center;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
