.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #189AB4;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(114, 112, 112);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: #D4F1F4;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: aliceblue;
  color: #189AB4;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
